:root {
  --primary-color: #34cb79;
  --title-color: #322153;
  --text-color: #6c6c80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialised;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu;
  color: var(--title-color);
}
